{% extends 'base.html.twig' %}

{% block title %}My Todo List{% endblock %}

{% block body %}
{% include 'home/modal.html.twig' with {'priorities': priorities} %}

<section class="bg-gray-900 text-white">
  <div class="flex justify-center items-center min-h-screen">
    <div class="w-3/4 flex gap-6">
      <div class="w-1/4">
        <div class="bg-gray-800 rounded-lg shadow-lg p-6">
          <h2 class="text-lg font-semibold mb-4">Priorités</h2>
          <ul id="priority-list" class="space-y-2">
            {% for priority in priorities %}
              <li class="p-3 bg-gray-700 rounded-lg flex justify-between items-center">
                <span style="background-color:{{ priority.color }}" class="text-sm px-2 py-1 rounded">{{ priority.title }}</span>
                <span class="ml-2 bg-yellow-400 rounded-full p-1">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                  </svg>
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="w-3/4">
        <div class="bg-gray-800 rounded-lg shadow-lg p-6">
          <h2 class="text-lg font-semibold mb-4">Liste des Tâches</h2>
          <ul id="task-list" class="space-y-4">
            {% for task in tasks %}
              <li class="p-4 bg-gray-700 rounded-lg flex justify-between items-center">
                <div>
                  <span style="background-color:{{ task.priority.color }}" class="text-sm px-2 py-1 mr-4 rounded">{{ task.priority.title }}</span>
                  <span>{{ task.title }}</span>
                </div>
                <span class="ml-2 bg-yellow-400 rounded-full p-1">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                  </svg>
                </span>
              </li>
            {% endfor %}
            <li id="defaultModalButton" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="p-4 bg-gray-700 rounded-lg flex justify-between items-center border-2 border-dotted border-gray-500 cursor-pointer transition duration-300 hover:bg-gray-600/75">
              <span class="w-full text-center text-gray-400">
                Ajouter une tâche
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
